/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Styles */

@font-face {
  font-family: Grifter;
  src: url(assets/grifterbold.otf);
}

@font-face {
  font-family: Eudoxus Sans;
  src: url(assets/EudoxusSans-Regular.ttf);
}

:root {
  --wafer: #e0d9cc;
  --black: #000000;
  --sienna: #f08261;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

#easy {
  background-color: var(--wafer);
}

#medium {
  background-color: var(--black);
}

#hard {
  background-color: var(--sienna);
}

.card {
  height: 662px;
  width: 574px;
  font-family: Grifter;
  position: absolute;
}

#easy .card {
  background-color: var(--black);
  color: var(--wafer);
}

#medium .card {
  background-color: var(--wafer);
  color: var(--black);
}

#hard .card {
  height: 890px;
  background-color: var(--black);
  color: var(--wafer);
}

.card-img {
  height: 385px;
  width: 100%;
  overflow: hidden;
  background-image: url(assets/Man.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card-title {
  font-size: 32px;
  line-height: 33px;
}

.card-img .card-title {
  padding: 50px;
}

.card-content {
  padding: 50px;
}

#medium .badge {
  position: absolute;
  top: -25%;
  right: 0;
}

#easy .card-content,
#medium .card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#easy .bolt,
#medium .bolt {
  margin-top: 60px;
}

.card-desc {
  font-size: 52px;
  line-height: 54px;
  margin-top: 24px;
}

.card-cta-container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.card-cta-container div {
  width: 188px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.cta-heading {
  font-size: 22px;
  line-height: 23px;
}

.cta-desc {
  font-family: 'Eudoxus Sans';
  font-size: 15px;
  line-height: 19px;
}

.cta-link {
  font-size: 14px;
  line-height: 15px;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: transform 1s, color 1s;
}

.cta-link:hover {
  transform: translateX(10%);
}

.cta-link::after {
  position: absolute;
  margin-left: 0.5em;
}

#easy .cta-link::after {
  content: url(assets/Arrow1.svg);
}

#medium .cta-link::after {
  content: url(assets/Arrow2.svg);
}

#hard .cta-link::after {
  content: url(assets/Arrow3.svg);
}

.animate {
  animation: animate 1s forwards ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  75% {
    transform: translateX(-5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 490px) {
  .card {
    height: 90%;
    width: 100%;
    text-align: center;
  }

  .card-img {
    height: 25%;
  }

  #medium .badge {
    width: 50%;
    top: -12%;
    right: -7%;
  }

  .bolt {
    margin: auto;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
  }

  .card-desc {
    font-size: 20px;
    line-height: 20px;
  }

  .card-cta-container,
  .card-cta-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card-cta-container {
    gap: 2em;
  }

  #hard .card {
    height: 90%;
  }

  #hard .card-content > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}

@media only screen and (min-height: 800px) {
  #hard .card-content > div:first-of-type {
    flex-direction: column;
    gap: 2em;
  }
}
